##########################################################
#### File: RattanavilayThip_2_2_Exercise_Build _Your _Text_Classifiers<br>
#### Name: Thip Rattanavilay<br>
#### Date: 03/25/2021<br>
#### Course: DSC 550 2.2 Exercise: Build Your Text Classifiers<br>
##########################################################

## Importing the packages

In [1]:
import pandas as pd # importing pandas package
import numpy as np # importing numpy package
import string # importing string package
from nltk.corpus import stopwords

# 1. You can find the dataset controversial-comments.jsonl for this exercise in the Weekly Resources: Week 2 Data Files.

## Pre-processing Text: 

### For this part, you will start by reading the controversial-comments.jsonl file into a DataFrame. Then,

In [2]:
## Loading controversial-comments.jsonl dataframe into Juypter


## jsonl files with line = True

df = pd.read_json("controversial-comments.jsonl",lines=True)

df.head(10) ## Checking data

   con                                                txt
0    0  Well it's great that he did something about th...
1    0                       You are right Mr. President.
2    0  You have given no input apart from saying I am...
3    0  I get the frustration but the reason they want...
4    0  I am far from an expert on TPP and I would ten...
5    0  Thanks for playing. [I feel like her now](http...
6    0                                          [deleted]
7    0  i cant be racist, i have a black friend  \n\nl...
8    0  Nope. You're right that they are both smoke an...
9    0  &lt;That's exactly what it means. especially w...

## A. Convert all text to lowercase letters

In [3]:
## Using the Pandas .str.lower() method

## # converting characters into lower case under txt column

df['txt'] = df['txt'].str.lower()

In [4]:
df.head(10) ## Checking data

   con                                                txt
0    0  well it's great that he did something about th...
1    0                       you are right mr. president.
2    0  you have given no input apart from saying i am...
3    0  i get the frustration but the reason they want...
4    0  i am far from an expert on tpp and i would ten...
5    0  thanks for playing. [i feel like her now](http...
6    0                                          [deleted]
7    0  i cant be racist, i have a black friend  \n\nl...
8    0  nope. you're right that they are both smoke an...
9    0  &lt;that's exactly what it means. especially w...

## B. Remove all punctuation from the text

In [5]:
import re ## import the regexp module

## Removing anything with \n (new lines)
df["txt"] = df['txt'].str.replace("\n", " ")

## Removing anything that has a URLS
df['txt'] = df['txt'].apply(lambda x: re.split('https:\/\/.*', str(x))[0])

df['txt'] = df['txt'].apply(lambda x: re.split('http:\/\/.*', str(x))[0])

## Removing all punctuation
df["txt"] = df['txt'].str.replace('[^\w\s]','')

In [6]:
df.head(10)

   con                                                txt
0    0  well its great that he did something about tho...
1    0                         you are right mr president
2    0  you have given no input apart from saying i am...
3    0  i get the frustration but the reason they want...
4    0  i am far from an expert on tpp and i would ten...
5    0             thanks for playing i feel like her now
6    0                                            deleted
7    0  i cant be racist i have a black friend    lolo...
8    0  nope youre right that they are both smoke and ...
9    0  ltthats exactly what it means especially when ...

## C. Remove stop words

In [7]:
## Creating the list of stop words
import nltk

stop = set(stopwords.words('english'))

In [8]:
## Creating new lines from old lines, while removing all words in the stop list
## Post is transformed into a list of words split by spaces
## Aapply the lambda function to recreate the list without stop words


df['txt'] = df['txt'].str.split().apply(lambda x: [item for item in x if item not in stop])

In [9]:
df.head(10) ## This will return a list of words for each row

   con                                                txt
0    0  [well, great, something, beliefs, office, doub...
1    0                             [right, mr, president]
2    0  [given, input, apart, saying, wrong, argument,...
3    0  [get, frustration, reason, want, way, foundati...
4    0  [far, expert, tpp, would, tend, agree, lot, pr...
5    0                      [thanks, playing, feel, like]
6    0                                          [deleted]
7    0  [cant, racist, black, friend, lololol, vast, m...
8    0  [nope, youre, right, smoke, smoke, bad, lungs,...
9    0  [ltthats, exactly, means, especially, power, t...

## D. Apply NLTK’s PorterStemmer

In [10]:
from nltk.stem import PorterStemmer

In [11]:
## Call the PorterStemmer() class from nltk
## Temporary string created to append all the stemmed words
## Apply the Portstemmer to each word and add a space to each word to regenerate the sentence structure

def stemmer(ser):
    ps = PorterStemmer()
    string = ""
    for words in ser:
        string += str(ps.stem(words)) + " "
    return string ## Return the entire string

In [12]:
## Apply the stemmer function to the series

df['txt'] = df['txt'].apply(stemmer)

In [13]:
df.head(10)

   con                                                txt
0    0  well great someth belief offic doubt trump wou...
1    0                                   right mr presid
2    0      given input apart say wrong argument clearli
3    0  get frustrat reason want way foundat complex p...
4    0  far expert tpp would tend agre lot problem und...
5    0                              thank play feel like
6    0                                             delet
7    0  cant racist black friend lololol vast major mi...
8    0  nope your right smoke smoke bad lung tobacco l...
9    0  ltthat exactli mean especi power take exist ri...

In [14]:
## Saving a backup of the cleaned data for the next exercises with my initials TR

df.to_csv("TR_Cleaned_Data.csv")

# 2. Now that the data is pre-processed, you will apply three different techniques to get it into a usable form for model-building. Apply each of the following steps (individually) to the pre-processed data.

## A. Convert each text entry into a word-count vector (see sections 5.3 & 6.8 in the Machine Learning with Python Cookbook)

In [15]:
## Loading TR_Cleaned_Data.csv dataframe into Juypter (TR = Thip Rattanavilay)
 
df = pd.read_csv("TR_Cleaned_Data.csv", index_col=0)

In [16]:
## Take a sample to get the program to run

dftest = df.sample(frac = 0.05)

In [17]:
## Using sklearn
from sklearn.feature_extraction.text import CountVectorizer
from scipy.sparse import csr_matrix 

## Calling the CountVectorizer method from sci-kit

counter = CountVectorizer()

In [18]:
## Pass in the series into the CountVectorizer 

## Each line needs to be interpreted as Unicode in order for the program to work

bag_of_words = counter.fit_transform(np.array(dftest['txt'].values.astype('U')))

## Convert the bag_of_words to an array to generate the dataframe
arr = bag_of_words.toarray()

In [19]:
## Create the dataframe using the feature names as the column names.

pd.DataFrame(arr, columns= counter.get_feature_names())

,00,000,000001preagan,00000hr,00001,000277,001,00118,00182,003,...,мало,мой,мусорный,огонь,партия,ребеноксука,республиканская,спасибо,сябар,яepublican
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47495,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
## Reducing the sparse matrix down using csr_matrix from scipy

print(csr_matrix(pd.DataFrame(arr, columns= counter.get_feature_names())))

  (0, 3069)	1
  (0, 6387)	1
  (0, 6706)	1
  (0, 23616)	1
  (1, 1968)	1
  (1, 3366)	1
  (1, 3621)	1
  (1, 6710)	1
  (1, 8457)	1
  (1, 8485)	1
  (1, 8573)	1
  (1, 9144)	1
  (1, 10089)	1
  (1, 10160)	1
  (1, 10349)	1
  (1, 12998)	1
  (1, 13150)	1
  (1, 14095)	1
  (1, 14265)	1
  (1, 14432)	1
  (1, 15378)	1
  (1, 19886)	1
  (1, 21148)	1
  (1, 21783)	1
  (1, 22376)	1
  :	:
  (47499, 8461)	1
  (47499, 8476)	1
  (47499, 10019)	1
  (47499, 11504)	1
  (47499, 11824)	1
  (47499, 12104)	1
  (47499, 12398)	1
  (47499, 14318)	1
  (47499, 14721)	1
  (47499, 14802)	1
  (47499, 15103)	1
  (47499, 15462)	1
  (47499, 16185)	1
  (47499, 17928)	1
  (47499, 18405)	1
  (47499, 18749)	1
  (47499, 19473)	1
  (47499, 19696)	1
  (47499, 20880)	1
  (47499, 22963)	1
  (47499, 23255)	1
  (47499, 23943)	1
  (47499, 24456)	1
  (47499, 24544)	1
  (47499, 26024)	2

## B. Convert each text entry into a part-of-speech tag vector (see section 6.7 in the Machine Learning with Python Cookbook).

In [21]:
## Importing nltk package
from nltk import pos_tag, word_tokenize

In [22]:
## Creat function to generate part-of-speech tags for each line
## Split line into a word list using split() or word_tokenize
## Pass the list of words into the "part-of-speech" function

def part_of_speech_analyzer(arr):
    tokens = []
    for i in arr:
        tokens.append(pos_tag(word_tokenize(str(i))))
    return tokens

In [23]:
## Applying the function to the series

dftest['part-of-speech'] = part_of_speech_analyzer(dftest['txt'])
dftest

,con,txt,part-of-speech
613984,0,tax cut balloon deficit,"[(tax, NN), (cut, NN), (balloon, NN), (deficit..."
194357,0,irrat almost definit ever gone five mile speed...,"[(irrat, NN), (almost, RB), (definit, JJ), (ev..."
197759,0,peopl cant endors someon pure cgaract disagre ...,"[(peopl, NN), (cant, NN), (endors, NNS), (some..."
174763,0,congratul comment nomin ignor comment reddit t...,"[(congratul, JJ), (comment, NN), (nomin, RB), ..."
381009,0,um rumor guy list trump releas,"[(um, JJ), (rumor, NN), (guy, NN), (list, NN),..."
...,...,...,...
28480,0,post modern your go creat definit fascism gonn...,"[(post, NN), (modern, VB), (your, PRP$), (go, ..."
856635,0,sub mod commit anti trump group cours your go ...,"[(sub, NN), (mod, NN), (commit, NN), (anti, IN..."
762888,0,didnt chang mind call that absolut bs,"[(didnt, NN), (chang, NN), (mind, NN), (call, ..."
263610,0,delet,"[(delet, NN)]"
135918,0,he immun mainstream media decid tri railroad g...,"[(he, PRP), (immun, VBZ), (mainstream, JJ), (m..."

## C. Convert each entry into a term frequency-inverse document frequency (tfidf) vector (see section 6.9 in the Machine Learning with Python Cookbook)

In [24]:
## Importing the library
from sklearn.feature_extraction.text import TfidfVectorizer

## Taking a sample from the dataframe
dftest = df.sample(frac = 0.01)

## Checking the dataframe
dftest

        con                                                txt
884722    0  increas percentag know us aircraft industri love
28668     0                                        link studi
334562    0                                             remov
313455    0                    remind subreddit civil discuss
518001    0  yup let post actual neo nazi websit push stori...
...     ...                                                ...
371516    0                       accur descript employ world
491154    0                     time submit text hillari meme
224153    0  submiss automat remov per sidebar rule gt subm...
106502    0  misguid titl articl alway told she paid founda...
676816    0   expect turn base point mayb trump tv crash burn

[9500 rows x 2 columns]

In [25]:
## Using the TfidVectorizer() class from scikit
tfidf = TfidfVectorizer()

## Passing in the series into the tfidf class as unicode
feature_matrix = tfidf.fit_transform(dftest['txt'].values.astype('U'))

In [26]:
## Loading the TFIDF data to the dataframe with the column names as feature names and matching 
## the index values to the associated entries

pd.DataFrame(feature_matrix.toarray(), columns =tfidf.get_feature_names()).set_index(dftest.index)

,00,000,00000000000001,0001,0002,00630,01,02078,03244,04,...,zordon,zucker,zygot,zzzzzzzzz,ʕʘʘʔ,ˈbiɡətrē,ˈbɪɡlɪ,бабушка,блять,сука
884722,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
334562,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
313455,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
518001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371516,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
491154,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
224153,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
106502,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
676816,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
## Reducing the sparse matrix down using csr_matrix from scipy

print(csr_matrix(feature_matrix))

  (0, 6392)	0.3306062032548129
  (0, 5570)	0.3861958261905397
  (0, 650)	0.5160813822781395
  (0, 11233)	0.2556285685060281
  (0, 6049)	0.23608399964120907
  (0, 7826)	0.45393107107897984
  (0, 5532)	0.384808123425672
  (1, 10171)	0.7651259761448397
  (1, 6289)	0.6438806105392568
  (2, 8781)	1.0
  (3, 3157)	0.48187864483539733
  (3, 2142)	0.4941278767078441
  (3, 10195)	0.5119643981481478
  (3, 8776)	0.5113932617278051
  (4, 3572)	0.296158985661557
  (4, 9575)	0.19764430341702058
  (4, 10541)	0.3094179865351158
  (4, 10359)	0.3574410716246677
  (4, 6355)	0.17902742940023586
  (4, 10857)	0.11844673247118517
  (4, 6479)	0.15308467983989904
  (4, 10110)	0.23801259813313017
  (4, 8414)	0.24511644749744257
  (4, 11538)	0.28798286464813955
  (4, 7081)	0.2657145036794605
  :	:
  (9498, 8112)	0.15667116505380965
  (9498, 7665)	0.14651264274699893
  (9498, 9899)	0.13878706277148564
  (9498, 8344)	0.1531492292971913
  (9498, 828)	0.13180096185414814
  (9498, 11800)	0.11943947720103165
  (9498, 10706)	0.14234062927536437
  (9498, 9499)	0.13569203995246482
  (9498, 743)	0.1250023401527997
  (9498, 10080)	0.10593807013092774
  (9498, 4222)	0.4870501873922986
  (9498, 6894)	0.24834198504876892
  (9498, 10394)	0.10555854329487145
  (9498, 6591)	0.1211065191603726
  (9498, 1011)	0.12067878888675136
  (9498, 2197)	0.10030350777890676
  (9499, 2609)	0.45082642874570156
  (9499, 1249)	0.30765193836638866
  (9499, 3811)	0.3366276183757503
  (9499, 10925)	0.39375268916898487
  (9499, 6591)	0.2992660981317556
  (9499, 8033)	0.25433087994967973
  (9499, 10919)	0.32141273645793245
  (9499, 1764)	0.38263896055428914
  (9499, 10857)	0.17257858211329838